name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  schedule:
    - cron: '30 20 * * *' # Warning: Timezone dep - 20:00 is 1:00

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  emscripten_wasm:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubu24
            os: ubuntu-24.04
          - name: osx26-arm
            os: macos-26

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: install mamba
        uses: mamba-org/setup-micromamba@main
        with:
          environment-file: environment-wasm-build.yml
          init-shell: bash
          environment-name: xeus-cpp-wasm-build

      - name: Setup default Build Type on *nux
        if: ${{ runner.os != 'windows' }}
        run: |
          os="${{ matrix.os }}"
          if [[ "${os}" == "macos"* ]]; then
            echo "ncpus=$(sysctl -n hw.ncpu)" >> $GITHUB_ENV
          else
            echo "ncpus=$(nproc --all)" >> $GITHUB_ENV
          fi

      - name: Build and test xeus-cpp in node, then install
        shell: bash -l {0}
        run: |
          micromamba create -f environment-wasm-host.yml --platform=emscripten-wasm32
          
          mkdir build
          pushd build

          export BUILD_PREFIX=$MAMBA_ROOT_PREFIX/envs/xeus-cpp-wasm-build
          echo "BUILD_PREFIX=$BUILD_PREFIX" >> $GITHUB_ENV
          export PREFIX=$MAMBA_ROOT_PREFIX/envs/xeus-cpp-wasm-host
          echo "PREFIX=$PREFIX" >> $GITHUB_ENV
          export SYSROOT_PATH=$BUILD_PREFIX/opt/emsdk/upstream/emscripten/cache/sysroot

          micromamba create -n node-env -c conda-forge nodejs=22
          export PATH="$MAMBA_ROOT_PREFIX/envs/node-env/bin:$PATH"

          emcmake cmake \
            -DCMAKE_BUILD_TYPE=Release                        \
            -DCMAKE_INSTALL_PREFIX=$PREFIX                    \
            -DXEUS_CPP_EMSCRIPTEN_WASM_BUILD=ON               \
            -DCMAKE_FIND_ROOT_PATH=$PREFIX                    \
            -DSYSROOT_PATH=$SYSROOT_PATH                      \
            -DCMAKE_COMPILE_WARNING_AS_ERROR=ON               \
            ..

          emmake make -j ${{ env.ncpus }} install

      - name: Jupyter Lite integration test
        shell: bash -l {0}
        run: |
          set -e
          micromamba create -n xeus-lite-host jupyterlite-core=0.6 jupyterlite-xeus -c conda-forge
          micromamba activate xeus-lite-host
          if [[ "${{ matrix.os }}" == "macos"* ]]; then
            brew install coreutils
            export PATH="$HOMEBREW_PREFIX/opt/coreutils/libexec/gnubin:$PATH"
          fi 
          timeout 1400 jupyter lite serve --settings-overrides=overrides.json --XeusAddon.prefix=${{ env.PREFIX }} \
                         --XeusAddon.mounts="${{ env.PREFIX }}/share/xeus-cpp/tagfiles:/share/xeus-cpp/tagfiles" \
                         --XeusAddon.mounts="${{ env.PREFIX }}/etc/xeus-cpp/tags.d:/etc/xeus-cpp/tags.d" \
                         --contents README.md \
                         --contents notebooks/xeus-cpp-lite-demo.ipynb \
                         --contents notebooks/smallpt.ipynb \
                         --contents notebooks/images/marie.png \
                         --contents notebooks/audio/audio.wav &
          python -m pip install selenium
          # This sleep is to force enough time for the jupyter site to build before trying
          # to run notebooks in it. If you try to run the notebooks before the website is
          # ready the ci python script will crash saying ti cannot access the url
          sleep 10
          if [[ "${{ matrix.os }}" == "macos"* ]]; then
            python scripts/automated-notebook-run-script.py --driver safari
          fi      
        timeout-minutes: 25

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./screenshot.png

      - name: Setup tmate session
        if: ${{ failure() && runner.debug }}
        uses: mxschmitt/action-tmate@v3
        # When debugging increase to a suitable value!
        timeout-minutes: 30
