name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  schedule:
    - cron: '30 20 * * *' # Warning: Timezone dep - 20:00 is 1:00

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    
    runs-on: ${{ matrix.os }}
     
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubu24-analyzers
            os: ubuntu-24.04
            debug: on
            micromamba_shell_init: bash
          - name: ubu24-arm-valgrind
            os: ubuntu-24.04-arm
            debug: on
            micromamba_shell_init: bash

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: install mamba
        uses: mamba-org/setup-micromamba@main
        with:
          environment-file: environment-dev.yml
          init-shell: >-
            ${{ matrix.micromamba_shell_init }}
          environment-name: xeus-cpp

      - name: Setup default Build Type on *nux
        if: ${{ runner.os != 'windows' }}
        run: |
          os="${{ matrix.os }}"
          if [[ "${{ matrix.debug }}" == "on" ]]; then
            echo "BUILD_TYPE=Debug" >> $GITHUB_ENV
          fi
          if [[ "${os}" == "macos"* ]]; then
            echo "ncpus=$(sysctl -n hw.ncpu)" >> $GITHUB_ENV
          else
            echo "ncpus=$(nproc --all)" >> $GITHUB_ENV
          fi
      - name: Setup default Build Type on Windows
        if: ${{ runner.os == 'windows' }}
        run: |
          $env:ncpus=$([Environment]::ProcessorCount) 
          echo "ncpus=$env:ncpus" >> $env:GITHUB_ENV

      - name: micromamba shell hook
        if: ${{ runner.os == 'windows' }}
        shell: powershell
        run: |
          micromamba shell hook -s cmd.exe --root-prefix C:\Users\runneradmin\micromamba-root

      - name: cmake configure
        if: ${{ runner.os == 'windows' }}
        shell: cmd /C call {0}
        run: |
          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xeus-cpp
          mkdir -p build
          cd build
          cmake .. -G "NMake Makefiles" -DCMAKE_BUILD_TYPE=Release -DXEUS_BUILD_TESTS=ON -DDEPENDENCY_SEARCH_PREFIX="%CONDA_PREFIX%\Library" -DCMAKE_PREFIX_PATH="%CONDA_PREFIX%\Library" -DCMAKE_INSTALL_PREFIX="%CONDA_PREFIX%"

      - name: cmake configure
        if: ${{ runner.os != 'windows' }}
        shell: bash -l {0}
        run: |
          mkdir -p build
          cd build
          cmake .. \
           -DCMAKE_PREFIX_PATH=$CONDA_PREFIX \
           -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
           -DXEUS_CPP_ENABLE_CODE_COVERAGE=${{ matrix.coverage }} \
          -DCMAKE_COMPILE_WARNING_AS_ERROR=ON            \
           -DCMAKE_BUILD_TYPE=${{ env.BUILD_TYPE }}

      - name: build, run C++ tests & install
        if: ${{ runner.os == 'windows' }}
        shell: cmd /C call {0}
        run: |
          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xeus-cpp
          cd build
          set CL=/MP
          nmake check-xeus-cpp
          nmake install

      - name: build, run C++ tests & install
        if: ${{ runner.os != 'windows' }}
        shell: bash -l {0}
        run: |
          cd build
          make install -j ${{ env.ncpus }}
          make -j ${{ env.ncpus }} check-xeus-cpp
          if [[ "${{ matrix.os }}" != "macos"* && "${{ matrix.debug }}" == "on" ]]; then
              sudo apt update
              sudo apt install libc6-dbg
              git clone https://sourceware.org/git/valgrind.git
              cd valgrind
              ./autogen.sh
              ./configure
              make -j$(nproc)
              sudo make install
              valgrind --version
              if [[ "${{ matrix.os }}" == *"arm"* ]]; then
                SUPPRESSION_FILE="${{ github.workspace }}/etc/xeus-cpp-valgrind_arm.supp"
              else
                SUPPRESSION_FILE="${{ github.workspace }}/etc/xeus-cpp-valgrind_x86.supp"
              fi
              valgrind --show-error-list=yes --track-origins=yes --error-exitcode=1 \
                --show-leak-kinds=definite,possible \
                --gen-suppressions=all \
                --suppressions="${SUPPRESSION_FILE}" \
                test/test_xeus_cpp
          fi

      - name: Python tests Unix Systems
        if: ${{ runner.os != 'windows' }}
        shell: bash -l {0}
        run: |
          cd test
          pytest -sv .
  
      - name: Python tests Windows Systems
        if: ${{ runner.os == 'windows' }}
        shell: cmd /C call {0}
        run: |
          call C:\Users\runneradmin\micromamba-root\condabin\micromamba.bat activate xeus-cpp
          cd test
          pytest -sv test_xcpp_kernel.py 

      - name: Prepare code coverage report
        if: ${{ success() && (matrix.coverage == true) }}
        shell: bash -l {0}
        run: |
          # Create lcov report
          # Find the current compiler version.
          CC=$(realpath `which c++`)
          vers="${CC##*-}"
          sudo apt install lcov
          # capture coverage info
          lcov --directory build/ --capture --output-file coverage.info --gcov-tool $CONDA_PREFIX/bin/gcov
          lcov --remove coverage.info '/usr/*' "${HOME}"'/.cache/*' ${{ github.workspace }}'/test/*' --output-file coverage.info
          # output coverage data for debugging (optional)
          lcov --list coverage.info

      - name: Upload to codecov.io
        if: ${{ success() && (matrix.coverage == true) }}
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.info
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Setup tmate session
        if: ${{ failure() && runner.debug }}
        uses: mxschmitt/action-tmate@v3
        # When debugging increase to a suitable value!
        timeout-minutes: 30
