name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
  schedule:
    - cron: '30 20 * * *' # Warning: Timezone dep - 20:00 is 1:00

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  emscripten_wasm:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: osx26-arm
            os: macos-26

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Jupyter Lite integration test
        shell: bash -l {0}
        run: |
          python -m pip install PyAutoGUI
          # This sleep is to force enough time for the jupyter site to build before trying
          # to run notebooks in it. If you try to run the notebooks before the website is
          # ready the ci python script will crash saying ti cannot access the url
          sleep 10
          if [[ "${{ matrix.os }}" == "macos"* ]]; then
            python scripts/automated-notebook-run-script.py
            mkdir screenshots
            mv screenshot.png screenshots
          fi      
        timeout-minutes: 25

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./screenshots

